---
import background from '../assets/background.svg';
---

<section
  id="hero"
  class="relative h-screen text-white flex items-center justify-center overflow-auto"
>
  <div
    class="absolute inset-0 bg-cover bg-center"
    style={`background-image: url(${background.src}); opacity: 0.7;`}
  ></div>

  <div class="relative z-10 text-center px-4 py-16 max-w-4xl mx-auto">
    <h1 class="text-3xl xs:text-4xl sm:text-5xl md:text-7xl lg:text-8xl font-bold mb-4 leading-tight">
      Hey, I'm <span class="underline decoration-orange-500">Vlad</span>!
    </h1>
    <p class="text-sm xs:text-base sm:text-lg md:text-xl lg:text-2xl mb-8 leading-relaxed">
      Amateur full stack dev who enjoys messing around with <span class="text-orange-500 font-semibold">AI</span> and <br class="hidden sm:block"/> 
      loves to create <span class="text-orange-500 font-semibold">useful</span> digital tools.
    </p>
  </div>
</section>
